# Dependencies
node_modules/

# Build output
dist/
lib/
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/

# Ignore sensitive test fixtures but keep the directory structure
tests/fixtures/sensitive/*
!tests/fixtures/sensitive/.gitkeep
